.lily {
    background-color: lemonchiffon;
}
.rose {
    color: slateblue;
}
#email {
    background-color: lawngreen;
}
#github {
    background-color: orchid;
}
#portfolio {
    background-color: rgb(192, 199, 255);
}